<include file="public:header"/>
<title>佳鲜农庄{$shopname}</title>
<div class="backDiv">
    <i class="ic-back" onclick="goBack()"> </i>
    <form method="post" action="{:U('index/doSearch',array('sid'=>$shopid))}" onsubmit="return validate()" id="serch_form" name="serch_form" class="srhtf">
        <input class="search inputBind" type="text" id="keyword" name="keyword" placeholder="搜索佳鲜农庄" onblur="inputBind()">
        <i class="ic-search"></i>
    </form>
</div>
<if condition="!empty($adverts)">
<div class="banner">
	 <div class="swiper-container">
        <div class="swiper-wrapper">
    <ul>
    	<volist name="adverts" id="val">      
        <li>
        	<if condition="!empty($val['link'])"><a href="{$val.link}"><img src="{:attach($val['imageurl'])}"></a>
        	<else/><img src="{:attach($val['imageurl'])}" >
        	</if>
        </li>
        </volist>
    </ul>
    </div>
    </div>
</div>
</if>
<div class="listDiv orderListDiv" data-id="{$typeid}" promo-id="{$id}" data-classId="{$classId}" >
    <div class="randLableDiv">
        <span   class="selesLable">销量优先</span>
		<span  class="priceLable ">价格
			<div class="iDiv">
                      <i class="ic-up-dir up" ></i>
                      <i class="ic-down-dir down" ></i>
                  </div>
		</span>
        <span  class="timeLable">时间</span>
    </div>
    <div id="goodlist"  class="promotionList" style="height: 850px; ">
    	<ul>
    	</ul>
    </div>
    <!-- <span class="loadingMoreBtn dis_none">点击加载更多.......</span> -->
</div>
<include file="public:cart_foot"/>
<include file="public:nav"/>
<include file="public:footer"/>

<script type="text/javascript" src="__STATIC__/home/js/swiper3.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: true,
//        // 如果需要分页器
        pagination: '.swiper-pagination',
        autoplay : 3000,
    })
</script>

<script>
	$(".orderListDiv .randLableDiv>span.selesLable").css("color","#f29200").show().siblings().css("color","#8f8c79");
    $(function(){
        var $pointDiv = $('<div id="pointDivs">').appendTo('body');
        for(var i = 0;i<5;i++){
            $('<div class="point-outer point-pre"><div class="point-inner"/》</div>').appendTo($pointDiv);
            console.log(1);
        }
    })
    /* var classId=$(".listDiv").attr("data-classId")
  	url = '{:u("market/promotion_ajax", array("id"=>"@id@",))}';
    url = url.replace('@id@','{$id}');
    pageLoading(1,url,classId); */
</script>