<include file="public:_header"/>
<div class="container">
	<div class="widget-box">
		<div class="header">
			<div class="toolbar">
				<ul class="nav nav-tabs" id="myTab">
					<li class="active"><a data-toggle="tab" href="#home1">编辑代金卷</a></li>
				</ul>
			</div>
		</div>
		
		<form name="myform" method="post" id="myform" autocomplete="off">
	       	<input type="hidden" name="id" value="{$info.id}"/>
	        <table class="shop-form" >
	           <tr>
	             <th width='120'>代金券名称<font color='red'>*</font>：</th>
	             <td>
	               <input type="text" id="name" name="name" value="{$info.name}" class="input-text" size="30">
	             </td>
	           </tr>
	           <tr>
	             <th width='120'>代金券面额<font color='red'>*</font>：</th>
	             <td>
	               <input type="text" id="amount" name="amount" value="{$info.amount}" class="input-text"  onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9.]/g,'')"  size="30">
	             </td>
	           </tr>
	           <tr>
	             <th width='120'>有效期<font color='red'>*</font>：</th>
	             <td>
	               <input type="text" name="start_time" id="J_time_start" class="date" size="12" value="{$info.start_time}">
	               ～
	               <input type="text" name="end_time" id="J_time_end" class="date" size="12" value="{$info.end_time}">
	             </td>
	           </tr>
	         </table>
	          <div class="form-actions">
				<button class="btnf" type="submit">提交</button>
				<a class="btn toback" href="">返回</a>
			</div>
	     </form>
	</div>
</div>
<link rel="stylesheet" href="__STATIC__/js/calendar/calendar-blue.css"/>
<script src="__STATIC__/js/calendar/calendar.js"></script>
<script type="text/javascript">
Calendar.setup({
    inputField : "J_time_start",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
Calendar.setup({
    inputField : "J_time_end",
    ifFormat   : "%Y-%m-%d",
    showsTime  : false,
    timeFormat : "24"
});
$(function(){
	
	$.formValidator.initConfig({
	   theme:'Default',mode:'AutoTip',formID:"myform",debug:false,submitOnce:true,onSuccess:function(){
		   return true;
		},onError:function(msg){
	}});
	 $("#name").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:1,max:50,onError:"请输入名称"});
	 $("#J_time_end").formValidator({onShow:"",onFocus:"",onCorrect:"输入正确"}).inputValidator({min:1,max:50,onError:"请选择有效期时间"});
})
</script>
<include file="public:_footer" />
</body>
</html>