<include file="public:header"/>
<title>佳鲜农庄{$shopname}</title>
<div class="backDiv">
    <i class="ic-back" onclick="goBack()"> </i>
    <span class="applySpan">发票详情</span>
</div>
<div class="addInvoiceInfoDiv">
    <div class="invoiceHeader">
        <h1>发票抬头</h1>
        <div class="private">
            <img src="__STATIC__/home/images/circle.png">
            <p>个人</p>
        </div>
        <div class="enterprice">
            <img src="__STATIC__/home/images/greencircle.png">
            <p>公司<input type="text" placeholder="请输入公司名称"></p>
        </div>
    </div>
    <div class="warmTips">
        <p class="title">温馨提示：</p>
        <p class="content">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
    <div class="btn">
        <p class="submintBtn">完成</p>
    </div>
</div>
<include file="public:footer"/>