<include file="public:_header" />
<div class="pad_10" >
	<div class="J_tablelist table_list" data-acturi="{:U('score_order/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><span>收货人</span></th>
                <th><span>联系电话</span></th>
                <th><span>收货地址</span></th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <td align="center">{$val.consignee}</td>
                <td align="center">{$val.mobile}</td>
                <td align="center">{$val.sheng} {$val.shi} {$val.qu} {$val.address}</td>
            </tr>
            </volist>
        </tbody>
    </table>
    </div>
    <div class="btn_wrap_fixed">
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="public:_footer" />
</body>
</html>