<include file="public:_header" />
<div class="pad_10" >
	<div class="J_tablelist table_list" data-acturi="{:U('score_order/ajax_edit')}">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th width="150"><span>订单号</span></th>
                <th width="50"><span>状态</span></th>
                <th width="68"><span>会员名</span></th>
                <th width="100"><span>收货人</span></th>
                <th width="80"><span>收货人电话</span></th>
                <th width=""><span>收货地址</span></th>
                <th width="50"><span>金额</span></th>
                <th><span>下单时间</span></th>
                <th width="90">管理操作</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="val" >
            <tr>
                <td align="center">
                	<a href="{:u('item_order/details', array('id'=>$val['id'], 'menuid'=>$menuid))}" style="color:blue;font-weight:bold;">
                	{$val.orderId}</a>
                </td>
                <td align="center"><switch name="val.status" >
                        <case value="1">待付款</case>
                        <case value="2">待发货</case>
                        <case value="3">待收货</case>
                        <case value="4">完成</case>
                       <default />关闭
                </switch></td>
                <td align="center">{$val.userName}</td>
                <td align="center">{$val.address_name}</td>
                <td align="center">{$val.mobile}</td>
                <td align="center">{$val.address}</td>
                <td align="center"><b style="color:red">¥{$val.order_sumPrice}</b></td>
                <td align="center">{$val.add_time|date='Y-m-d H:i:s',###}</td>
                <td align="center">
                	<a href="{:u('item_order/details', array('id'=>$val['id'], 'menuid'=>$menuid))}">查看</a>
                </td>
            </tr>
            </volist>
        </tbody>
    </table>
    </div>
    <div class="btn_wrap_fixed">
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="public:_footer" />
</body>
</html>