<!--添加系统配置-->
<div class="dialog_content">
	<form id="info_form" name="info_form" action="{:u('setting/edit')}" method="post">
	<table width="100%" class="table_form">
		<tr> 
	      <th width="80">key:</th>
	      <td><input type="text" name="name" id="" class="input-text" value="{$info.name}"></td>
	    </tr>
	    <tr> 
	      <th>value :</th>
	      <td>
	          <textarea rows="4" cols="80" name = "data" class="input-text"> {$info.data}</textarea>
	      </td>
	    </tr>
	    <tr> 
	      <th>备注 :</th>
	      <td><input type="text" name="remark" id="" class="input-text" value="{$info.remark}"></td>
	    </tr>
	</table>
	<input type="hidden" name="id" id="id" value="{$info.id}" />
	</form>
</div>
