<li data-val="8:00-10:00" style="font: 26px/70px' Microsoft YaHei">8:00-10:00</li>
<li data-val="10:00-12:00" style="font: 26px/70px' Microsoft YaHei">10:00-12:00</li>
<li data-val="12:00-14:00" style="font: 26px/70px' Microsoft YaHei">12:00-14:00</li>
<li data-val="14:00-16:00" style="font: 26px/70px' Microsoft YaHei">14:00-16:00</li>
<li data-val="16:00-18:00" style="font: 26px/70px' Microsoft YaHei">16:00-18:00</li>
<li data-val="18:00-20:00" style="font: 26px/70px' Microsoft YaHei">18:00-20:00</li>
<li data-val="20:00-22:00" style="font: 26px/70px' Microsoft YaHei">20:00-22:00</li>