<include file="public:header"/>
<title>佳鲜农庄{$shopname}</title>
<css file="__STATIC__/css/default/base.css" />
<css file="__STATIC__/css/default/style.css" />
<script src="__STATIC__/js/jquery/jquery.js"></script>
<body style="    background-color:white">
<div class="imgDivsucess">
 	<p>{$message}</p>
 </div>
<div class="imgf_con">
       <p class="f-slogan"> 绿色生活 &nbsp &nbsp 新鲜到家</p> 
        <p class="f-color2 f_copyright">佳鲜农庄©2014-2015 粤ICP备15029626号</p>
    </div>
</body>
<script language="javascript">
                setTimeout("location.href='{$jumpUrl}';", {$waitSecond} * 1000);
</script>
</html>