<include file="public:_header" />


<div class="subnav">
<div class="content_menu ib_a blue line_x">
	<a class="add btn btn-add" href="{:U('datasync/index', array('op'=>'1'))}"><em>商品同步</em></a></div>
</div>
</div>

<div class="subnav">
<div class="content_menu ib_a blue line_x">
	<a class="add btn btn-add" href="{:U('datasync/index', array('op'=>'2'))}"><em>订单同步</em></a></div>
</div>
</div>


<div class="subnav">
<div class="content_menu ib_a blue line_x">
	<a class="add btn btn-add" href="{:U('datasync/index', array('op'=>'3'))}"><em>库存同步</em></a></div>
</div>
</div>
</body>
</html>