<include file="public:header"/>
<div class="backDiv">
    <i class="ic-back" onclick="goBack()"> </i>
</div>
<div class="activateMenbership">
    <form class="infoForm">
        <li>
            <label class="space">卡号/手机号:</label>
            <input placeholder="" type="text">
        </li>
        <li>
            <label class="space">会员卡密码:</label>
            <input placeholder=""  type="tel">
        </li>
        <li>
            <input class="code" placeholder=""  type="text">
            <p class="getCode">获取验证码</p>
        </li>
        <div class="btn submit">
            <p>激活</p>
        </div>
    </form>
</div>
<include file="public:footer"/>