<include file="public:_header" />
<!--广告列表-->
<div class="pad_lr_10">
<!--   
    <form name="searchform" method="get" >
    <table width="100%" cellspacing="0" class="search_form">
        <tbody>
            <tr>
            <td>
            <div class="explain_col">
            	<input type="hidden" name="g" value="adminn" />
                <input type="hidden" name="m" value="ad" />
                <input type="hidden" name="a" value="index" />
                <input type="hidden" name="menuid" value="{$menuid}" />
            	{:L('ad_start_time')}：
            	<input type="text" name="start_time_min" id="start_time_min" class="date" size="12" value="{$search.start_time_min}">
                -
                <input type="text" name="start_time_max" id="start_time_max" class="date mr10" size="12" value="{$search.start_time_max}">
                {:L('ad_end_time')}：
                <input type="text" name="end_time_min" id="end_time_min" class="date" size="12" value="{$search.end_time_min}">
                -
                <input type="text" name="end_time_max" id="end_time_max" class="date" size="12" value="{$search.end_time_max}">
            	<div class="bk3"></div>
                {:L('adboard')}：
                <select name="board_id" class="mr10">
                    <option value="">--{:L('all')}--</option>
                    <volist name="board_list" id="val" >
                    <option value="{$key}" <if condition="$search.board_id eq $key">selected="selected"</if>>{$val}</option>
                    </volist>
                </select>
                {:L('ad_type')}：
                <select name="style" class="mr10">
                    <option value="">--不限--</option>
                    <volist name="ad_type_arr" id="val" >
                    <option value="{$key}" <if condition="$search.style eq $key">selected="selected"</if>>{$val}</option>
                    </volist>
                </select>
                {:L('keyword')}：
                <input name="keyword" type="text" class="input-text mr10" size="25" value="{$search.keyword}" />
                <input type="submit" name="search" class="btn" value="搜索" />
        	</div>
            </td>
            </tr>
        </tbody>
    </table>
    </form>
  -->  
    <div class="J_tablelist table_list" data-acturi="{:U('game/ajax_edit')}">
		<table width="100%" cellspacing="0">
        <thead>
         <tr>
												<th class="center"><label> <input
														type="checkbox" class="ace"> <span class="lbl"></span>
												</label></th>
												    <th width="40">ID</th>
									                <th align="left">活动名称</th>
									      			<th align="left">活动链接</th>
									      			<th align="left">活动描述 </th>
									                <th align="left">活动时间</th>
									                <th>{:L('role_status')}</th>
									                <th width=250>{:L('operations_manage')}</th> 
											</tr>
        </thead>
        <tbody>
          <volist name="list" id="val">
											<tr>
												<td class="center"><label> <input
														type="checkbox" class="ace"> <span class="lbl"></span>
												</label></td>
												
											<td align="center">{$val.id}</td>
							                <td><span  >{$val.name}</span></td>
							                <td><span  >{$val.url}</span></td>
							                <td><span  >{$val.desc}</span></td>
							                <td><span   >{$val.start_time|date='Y-m-d',###} / {$val.end_time|date='Y-m-d',###}</span></td>
							                <td align="center">
							                    <img data-tdtype="toggle" data-field="status" data-id="{$val.id}" data-value="{$val.status}" src="__STATIC__/images/admin/toggle_<if condition="$val.status eq 1">enabled<else/>disabled</if>.gif" />
							                </td>
							              	<td align="center">
            	<a href="javascript:void(0);" class="J_showdialog btn btn-link" data-uri="{:U('game/edit', array('id'=>$val['id']))}" data-title="{:L('edit')} - {$val.name}" data-id="edit" data-width="520" data-height="410">{:L('edit')}</a> | 
                <a href="javascript:void(0);" class="J_confirmurl btn btn-link" data-acttype="ajax" data-uri="{:u('game/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['name'])}">{:L('delete')}</a></td>
							                </td>
											</tr>
										</volist>
        </tbody>
      	</table>
		<div class="btn_wrap_fixed">
    		<label class="select_all"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
            <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('game/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
    		<div id="pages">{$page}</div>
    	</div>
    </div>
</div>
<include file="public:_footer" />
<link rel="stylesheet" type="text/css" href="__STATIC__/js/calendar/calendar-blue.css"/>
<script type="text/javascript" src="__STATIC__/js/calendar/calendar.js"></script>
<script type="text/javascript">

</script>
</body>
</html>