<!--编辑栏目-->
<div class="dialog_content">
	<form id="info_form" action="{:u('shop_expand/edit')}" method="post">
	<table width="100%" class="table_form">
		<tr>
			<th>分类推广名称 :</th>
			<td>
				<input type="text" name="name" id="J_name" class="input-text" value="{$info.name}" size="30">
			</td>
		</tr>
		<tr> 
			<th>推广链接 :</th>
			<td>
				<input type="text" name="link" id="J_link" class="input-text" value="{$info.link}" size="30">
			</td>
		</tr>
	    <tr>
			<th>分类图片 :</th>
			<td>
			    <input type="text" name="img" id="J_img" class="input-text fl mr10" size="30" value="{$info.img}">
            	<div id="J_upload_img" class="upload_btn"><span>上传</span></div>
			    <notempty name="info['img']"><span class="attachment_icon J_attachment_icon" file-type="image" file-rel="{:attach($info['img'], 'shop_expand')}"><img src="__STATIC__/images/filetype/image_s.gif" /></span></notempty></td>
		</tr>
		<tr>
			<th>类型 :</th>
            <td>
                <label><input type="radio" name="type" value="1" <if condition="$info.type eq 1">checked</if>> 活动页</label>&nbsp;&nbsp;
                <label><input type="radio" name="type" value="2" <if condition="$info.type eq 2">checked</if>> 链接</label>
            </td>
        </tr>
        <tr>
			<th>主活动图 :</th>
            <td>
                <label><input type="radio" name="ismain" value="0" <if condition="$info.ismain eq 0">checked</if>>左主</label>&nbsp;&nbsp;
                <label><input type="radio" name="ismain" value="1" <if condition="$info.ismain eq 1">checked</if>>右上</label>&nbsp;&nbsp;
                <label><input type="radio" name="ismain" value="2" <if condition="$info.ismain eq 2">checked</if>>右下</label>
            </td>
        </tr>
	    <tr>
			<th>状态 :</th>
			<td>
				<label><input type="radio" name="status" value="1" <if condition="$info.status eq 1">checked</if>>显示</label>&nbsp;&nbsp;
				<label><input type="radio" name="status" value="0" <if condition="$info.status eq 0">checked</if>> 显示</label>
			</td>
		</tr>
	</table>
	<input type="hidden" name="id" value="{$info.id}" />
</form>
</div>
<script src="__STATIC__/js/jquery/plugins/colorpicker.js"></script>
<script src="__STATIC__/js/fileuploader.js"></script>
<script>
$(function(){
	$.formValidator.initConfig({formid:"info_form",autotip:true});
	$("#J_name").formValidator({onshow:lang.please_input+lang.item_cate_name,onfocus:lang.please_input+lang.item_cate_name}).inputValidator({min:1,onerror:lang.please_input+lang.item_cate_name}).defaultPassed();
	
	$('#info_form').ajaxForm({success:complate,dataType:'json'});
	function complate(result){
		if(result.status == 1){
			$.dialog.get(result.dialog).close();
            $.pinphp.tip({content:result.msg});
            window.location.reload();
		} else {
			$.pinphp.tip({content:result.msg, icon:'alert'});
		}
	}
	//上传图片
    var uploader = new qq.FileUploaderBasic({
    	allowedExtensions: ['jpg','gif','jpeg','png','bmp','pdg'],
        button: document.getElementById('J_upload_img'),
        multiple: false,
        action: "{:U('shop_expand/ajax_upload_img')}",
        inputName: 'img',
        forceMultipart: true,
        messages: {
        	typeError: lang.upload_type_error,
        	sizeError: lang.upload_size_error,
        	minSizeError: lang.upload_minsize_error,
        	emptyError: lang.upload_empty_error,
        	noFilesError: lang.upload_nofile_error,
        	onLeave: lang.upload_onLeave
        },
        showMessage: function(message){
        	$.pinphp.tip({content:message, icon:'error'});
        },
        onSubmit: function(id, fileName){
        	$('#J_upload_img').addClass('btn_disabled').find('span').text(lang.uploading);
        },
        onComplete: function(id, fileName, result){
        	$('#J_upload_img').removeClass('btn_disabled').find('span').text(lang.upload);
            if(result.status == '1'){
        		$('#J_img').val(result.data);
        	} else {
        		$.pinphp.tip({content:result.msg, icon:'error'});
        	}
        }
    });
	
});
</script>